{
  "dev": {
    "apiBase": "http://localhost:8080/api/",
    "ENV": "dev",
    "DEBUG": true,
    "WEBSOCKET": {
      "HOST": "ws://localhost",
      "PORT": 5000
    }
  },
  "prod": {
    "apiBase": "",
    "ENV": "prod",
    "DEBUG": false,
    "WEBSOCKET": {
      "HOST": "ws://localhost",
      "PORT": 5000
    }
  }
}