<table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr class="black-muted-bg">
        <td>Socket</td>
        <td>Active User</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tr ng-repeat="socket in vm.sockets" class="editable-row">
        <td>
            {{ socket.socket_id }}
        </td>
        <td class="select-td">
        <span>
          {{ socket.user.name || 'none' }}
        </span>
        </td>
        <td>
            <div class="switches clearfix">
                <switch color="success" ng-model="socket.active" ng-change="vm.switch(socket)"></switch>
            </div>
        </td>
    </tr>
</table>
