<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td>Socket</td>
        <td>Active User</td>
        <td>Actions</td>
    </tr>
    <tr ng-repeat="socket in vm.sockets" class="editable-row">
        <td>
            {{ socket.socketId }}
        </td>
        <td class="select-td">
        <span>
          {{ socket.activeUser || 'none' }}
        </span>
        </td>
        <td>
            <div class="switches clearfix">
                <switch color="success" ng-model="socket.state" ng-change="vm.switch(socket)"></switch>
            </div>
        </td>
    </tr>
</table>
