<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
    <div class="feed-message" ng-repeat="message in vm.feed" ng-click="vm.markAsRead(message)" ng-style="message.new && {'background-color':'#E2F0FF'}">
        <div class="message-icon" ng-if="message.type == 'text-message'">
            <img class="photo-icon" ng-src="{{::( message.author | profilePicture )}}">
        </div>
        <div class="message-icon" ng-if="message.type != 'text-message'">
            <img class="photo-icon" ng-src="{{::( message.author | profilePicture )}}">
            <span class="sub-photo-icon" ng-class="::message.type"></span>
        </div>
        <div class="text-block text-message">
            <div class="message-content line-clamp">
                <span ng-if="message.preview">{{ message.header }} </span>{{::message.chipId}}
            </div>
            <div class="message-time">
                <div class="post-time">
                    {{::message.date}}
                </div>
                <div class="ago-time">
                    {{::message.ago}}
                </div>
            </div>
        </div>
    </div>
</div>
